<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Product - Dashboard HTML Template</title>

</head>

<body>

    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Add Coupen</h2>
                        </div>
                    </div>
                    <% if(errors){ %>
                        <p class="text-danger"><%=errors%> </p>
                        <% } %>
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <form action="/admin/addCoupen" method="post" class="tm-edit-product-form">
                                <div class="form-group mb-3">
                                    <label for="coupen">Coupen Name
                                    </label>
                                    <input id="coupen" name="coupenname" type="text" class="form-control validate"
                                        required />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="coupen">Coupen Id
                                    </label>
                                    <input id="coupen" name="coupenid" type="text" class="form-control validate"
                                        required />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="coupen">MIin Bill</label>
                                    <input id="coupen" name="minbill" type="text" class="form-control validate"
                                        required />
                                    
                                </div>
                                <div class="form-group mb-3">
                                    <label for="coupen">Cap Amount
                                    </label>
                                    <input id="coupen" name="capamount" type="text" class="form-control validate"
                                        required />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="coupen">Offer(%)</label>
                                    
                                    <input id="coupen" name="offer" type="text" class="form-control validate"
                                    required />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="coupen">Status</label>
                                    
                                    <input id="coupen" name="status" type="text" class="form-control validate"
                                    required />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="coupen">Exp date</label>
                                    
                                    <input id="coupen" name="expdate" type="text" class="form-control validate"
                                    required />
                                </div>
                                

                        </div>
                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Category
                                Now</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="text-center text-white mb-0 px-4 small">
                Copyright &copy; <b>2018</b> All rights reserved.

                Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
            </p>
        </div>
    </footer>


    <script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
    <!-- https://jqueryui.com/download/ -->

    <script>
        $(function () {
            $("#expire_date").datepicker();
        });
    </script>
</body>

</html>